In [1]:
#!pip install tensorflow
#!pip install pandas_datareader
#!pip install torch

In [2]:
# Make sure that you have all these libaries available to run the code successfully
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import urllib.request, json
import os
import numpy as np
import tensorflow as tf # This code has been tested with TensorFlow 1.6
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import torch
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
from torch import nn
from torch import optim
from torch.nn import functional as F
from torch.optim.lr_scheduler import _LRScheduler
from torch.utils.data import TensorDataset, DataLoader
import matplotlib.pyplot as plt
from multiprocessing import cpu_count
from pathlib import Path

pd.set_option('display.max_rows', 10000)

In [3]:
dataset_train = pd.read_csv('https://raw.githubusercontent.com/minhthai1995/FIT5149/main/train_data_withlabels.csv')
dataset_test = pd.read_csv('https://raw.githubusercontent.com/minhthai1995/FIT5149/main/test_data_nolabels.csv')

In [4]:
dataset_train.tail()

,Unnamed: 0,load,ac,ev,oven,wash,dryer,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
417715,523256,2.543,0,0,0,0,0,21,Tue,-0.003,0.003,0.0,0.0,0.0,0.0,0.0
417716,523257,2.417,0,0,0,0,0,21,Tue,-0.126,0.126,0.0,0.0,0.0,0.0,0.0
417717,523258,0.999,0,0,0,0,0,21,Tue,-1.418,1.418,0.0,0.0,0.0,0.0,0.0
417718,523259,0.966,0,0,0,0,0,21,Tue,-0.033,0.033,0.0,0.0,0.0,0.0,0.0
417719,523260,0.964,0,0,0,0,0,21,Tue,-0.002,0.002,0.0,0.0,0.0,0.0,0.0

In [5]:
dataset_test.head()

,Unnamed: 0,load,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
0,1,1.869,0,Mon,0.000,0.000,0.0,0.0,0.0,0.0,0.0
1,2,1.673,0,Mon,-0.196,0.196,0.0,0.0,0.0,0.0,0.0
2,3,1.660,0,Mon,-0.013,0.013,0.0,0.0,0.0,0.0,0.0
3,4,1.772,0,Mon,0.112,0.112,0.0,0.0,0.0,0.0,0.0
4,5,1.679,0,Mon,-0.093,0.093,0.0,0.0,0.0,0.0,0.0

In [6]:
dataset_total = pd.concat((dataset_train, dataset_test), axis = 0)

In [7]:
dataset_train.shape, dataset_test.shape, dataset_total.shape

((417720, 16), (105540, 11), (523260, 16))

In [8]:
dataset_total.reset_index(inplace=True, drop=True) 
dataset_total

,Unnamed: 0,load,ac,ev,oven,wash,dryer,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
0,105541,2.245,0.0,0.0,0.0,0.0,0.0,0,Sun,0.987,0.987,6.215,3.074549,0.678886,0.052903,0.994071
1,105542,2.259,0.0,0.0,0.0,0.0,0.0,0,Sun,0.014,0.014,6.215,3.172867,0.667450,0.054829,0.994154
2,105543,2.269,0.0,0.0,0.0,0.0,0.0,0,Sun,0.010,0.010,6.215,3.270112,0.647777,0.056991,0.994220
3,105544,2.268,0.0,0.0,0.0,0.0,0.0,0,Sun,-0.001,0.001,6.215,3.303763,0.629227,0.057606,0.994150
4,105545,2.270,0.0,0.0,0.0,0.0,0.0,0,Sun,0.002,0.002,6.215,3.302744,0.621295,0.082640,0.994041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523255,105536,1.076,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.001,0.001,6.204,2.484129,0.592658,0.042413,0.990185
523256,105537,1.019,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.057,0.057,6.215,2.614626,0.601761,0.038118,0.990529
523257,105538,1.014,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.005,0.005,6.215,2.729923,0.629122,0.048229,0.993554
523258,105539,1.011,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.003,0.003,6.215,2.868153,0.658328,0.046729,0.993813
523259,105540,1.258,NaN,NaN,NaN,NaN,NaN,23,Sat,0.247,0.247,6.215,2.972294,0.676443,0.049666,0.993965

In [9]:
scale_list = ['absdif', 'dif', 'entropy', 'hurst', 'load', 'max', 'nonlinear', 'var']
scaler = preprocessing.MinMaxScaler().fit(dataset_total[scale_list])
dataset_total[scale_list] = scaler.transform(dataset_total[scale_list])

In [10]:
labelEncoderDay = preprocessing.LabelEncoder().fit(dataset_total['dayofweek'])
labelEncoderHour = preprocessing.LabelEncoder().fit(dataset_total['hourofday'])
dataset_total['dayofweek'] = labelEncoderDay.transform(dataset_total['dayofweek'])
dataset_total['hourofday'] = labelEncoderHour.transform(dataset_total['hourofday'])

In [11]:
label_list = ['ac', 'ev', 'oven', 'wash', 'dryer']
dataset_total[label_list] = dataset_total[label_list].fillna(0.0).astype(int)

In [12]:
dataset_total.tail()

,Unnamed: 0,load,ac,ev,oven,wash,dryer,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
523255,105536,0.065510,0,0,0,0,0,23,2,0.511194,0.000125,0.509611,0.151982,0.592666,0.000647,0.993362
523256,105537,0.060711,0,0,0,0,0,23,2,0.507602,0.007152,0.510514,0.159966,0.601769,0.000581,0.993707
523257,105538,0.060290,0,0,0,0,0,23,2,0.510937,0.000627,0.510514,0.167020,0.629130,0.000735,0.996741
523258,105539,0.060037,0,0,0,0,0,23,2,0.511065,0.000376,0.510514,0.175477,0.658337,0.000712,0.997001
523259,105540,0.080835,0,0,0,0,0,23,2,0.527102,0.030991,0.510514,0.181849,0.676451,0.000757,0.997154

In [13]:
# features_set = dataset_total.loc[:,dataset_total.columns.difference(['ac', 'ev', 'oven', 'wash', 'dryer', 'absdif', 'dif', 'entropy', 'hurst', 'max', 'nonlinear', 'var' ])]
features_set = dataset_total.loc[:,dataset_total.columns.difference(['ac', 'ev', 'oven', 'wash', 'dryer' ])]

features_set.drop('Unnamed: 0', axis = 1, inplace = True)
# labels_set = dataset_total[['ac', 'ev', 'oven', 'wash', 'dryer']]
labels_set = dataset_total[['ac']]

In [14]:
features_set

,absdif,dayofweek,dif,entropy,hourofday,hurst,load,max,nonlinear,var
0,0.123839,3,0.574572,0.678894,0,0.997260,0.163944,0.510514,0.000807,0.188105
1,0.001757,3,0.512156,0.667459,0,0.997343,0.165123,0.510514,0.000836,0.194120
2,0.001255,3,0.511899,0.647785,0,0.997409,0.165965,0.510514,0.000869,0.200070
3,0.000125,3,0.511194,0.629235,0,0.997339,0.165881,0.510514,0.000878,0.202129
4,0.000251,3,0.511386,0.621303,0,0.997229,0.166049,0.510514,0.001260,0.202066
...,...,...,...,...,...,...,...,...,...,...
523255,0.000125,2,0.511194,0.592666,23,0.993362,0.065510,0.509611,0.000647,0.151982
523256,0.007152,2,0.507602,0.601769,23,0.993707,0.060711,0.510514,0.000581,0.159966
523257,0.000627,2,0.510937,0.629130,23,0.996741,0.060290,0.510514,0.000735,0.167020
523258,0.000376,2,0.511065,0.658337,23,0.997001,0.060037,0.510514,0.000712,0.175477
523259,0.030991,2,0.527102,0.676451,23,0.997154,0.080835,0.510514,0.000757,0.181849

In [15]:
#Take knowledge from the back 10 mins window, 1 mins each
for x in np.arange(1, 10, 1):
    features_set['load_before_' + str(x)] = features_set['load'].shift(x)

In [16]:
features_set = features_set.dropna()

In [17]:
features_set

,absdif,dayofweek,dif,entropy,hourofday,hurst,load,max,nonlinear,var,load_before_1,load_before_2,load_before_3,load_before_4,load_before_5,load_before_6,load_before_7,load_before_8,load_before_9
9,0.001631,3,0.512092,0.650014,0,0.995492,0.166639,0.510514,0.005589,0.195543,0.165544,0.164449,0.164365,0.165123,0.166049,0.165881,0.165965,0.165123,0.163944
10,0.003764,3,0.513182,0.638492,0,0.995509,0.169165,0.510514,0.007342,0.195310,0.166639,0.165544,0.164449,0.164365,0.165123,0.166049,0.165881,0.165965,0.165123
11,0.009661,3,0.516197,0.627796,0,0.995471,0.175648,0.510514,0.009588,0.193990,0.169165,0.166639,0.165544,0.164449,0.164365,0.165123,0.166049,0.165881,0.165965
12,0.000251,3,0.511130,0.625368,0,0.995359,0.175480,0.510514,0.012250,0.191879,0.175648,0.169165,0.166639,0.165544,0.164449,0.164365,0.165123,0.166049,0.165881
13,0.007403,3,0.515043,0.633312,0,0.995880,0.180448,0.510514,0.006325,0.189279,0.175480,0.175648,0.169165,0.166639,0.165544,0.164449,0.164365,0.165123,0.166049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523255,0.000125,2,0.511194,0.592666,23,0.993362,0.065510,0.509611,0.000647,0.151982,0.065594,0.065173,0.065005,0.065594,0.064921,0.068542,0.071489,0.068542,0.072331
523256,0.007152,2,0.507602,0.601769,23,0.993707,0.060711,0.510514,0.000581,0.159966,0.065510,0.065594,0.065173,0.065005,0.065594,0.064921,0.068542,0.071489,0.068542
523257,0.000627,2,0.510937,0.629130,23,0.996741,0.060290,0.510514,0.000735,0.167020,0.060711,0.065510,0.065594,0.065173,0.065005,0.065594,0.064921,0.068542,0.071489
523258,0.000376,2,0.511065,0.658337,23,0.997001,0.060037,0.510514,0.000712,0.175477,0.060290,0.060711,0.065510,0.065594,0.065173,0.065005,0.065594,0.064921,0.068542
523259,0.030991,2,0.527102,0.676451,23,0.997154,0.080835,0.510514,0.000757,0.181849,0.060037,0.060290,0.060711,0.065510,0.065594,0.065173,0.065005,0.065594,0.064921

In [18]:
labels_set = labels_set.loc[9:,]

In [19]:
labels_set.reset_index(inplace=True, drop=True) 
features_set.reset_index(inplace=True, drop=True)

In [20]:
X_train = features_set.loc[0:(dataset_train.shape[0] - 10),]
y_train = labels_set.loc[0:(dataset_train.shape[0] - 10), ]

#X_valid = labels_set 
#y_valid = 
X_test = features_set.loc[(dataset_train.shape[0] - 10):,]
y_test = [] 

# I want to use a T-days window of input data for predicting target_class
# It means I need to prepend (T-1) last train records to the 1st test window
T = 30  # my choice of the timesteps window

prepend_features = X_train.iloc[-(T-1):]
X_test = pd.concat([prepend_features, X_test], axis=0)

# Split the training into train and valid set
X_train_final, X_valid, y_train_final, y_valid = train_test_split(X_train, y_train, test_size = 0.4, random_state = 42, shuffle=False)

prepend_features_valid = X_train_final.loc[-(T-1):]
X_valid = pd.concat([prepend_features_valid, X_valid], axis=0)

In [21]:
X_train_final.shape

(250626, 19)

In [22]:
# X_train = features_set.iloc[0:dataset_train.shape[0],]
# y_train = labels_set.iloc[0:dataset_train.shape[0], ]

# #X_valid = labels_set 
# #y_valid = 
# X_test = features_set.iloc[dataset_train.shape[0]:,]
# y_test = [] 

# # I want to use a T-days window of input data for predicting target_class
# # It means I need to prepend (T-1) last train records to the 1st test window
# T = 30  # my choice of the timesteps window

# prepend_features = X_train.iloc[-(T-1):]
# X_test = pd.concat([prepend_features, X_test], axis=0)

# # Split the training into train and valid set
# X_train_final, X_valid, y_train_final, y_valid = train_test_split(X_train, y_train, test_size = 0.2, random_state = 42,shuffle=False)

# prepend_features_valid = X_train_final.iloc[-(T-1):]
# X_valid = pd.concat([prepend_features_valid, X_valid], axis=0)

In [23]:
y_train_final.shape

(250626, 1)

In [24]:
y_train_final.shape

(250626, 1)

In [25]:
X_train, y_train = [], []
for i in range(X_train_final.shape[0] - (T-1)):
    X_train.append(X_train_final.iloc[i:i+T].values)
    y_train.append(y_train_final.iloc[i + (T-1)].values)
# X_train, y_train = np.array(X_train), np.array(y_train).reshape(-1,1)

In [26]:
X_train_LSTM, y_train_LSTM = [] , []
X_train_LSTM = np.array(X_train)
y_train_LSTM = np.array(y_train)

In [27]:
X_train_LSTM.shape

(250597, 30, 19)

In [28]:
y_train_LSTM.shape

(250597, 1)

In [29]:
X_valid_LSTM, y_valid_LSTM = [], []
for i in range(y_valid.shape[0]):
    X_valid_LSTM.append(X_valid.iloc[i:i+T].values)
    y_valid_LSTM.append(y_valid.iloc[i])
X_valid_LSTM, y_valid_LSTM = np.array(X_valid_LSTM), np.array(y_valid_LSTM)

In [30]:
print(X_valid_LSTM.shape)
print(y_valid_LSTM.shape)

(167085, 30, 19)
(167085, 1)

In [31]:
X_test_LSTM = []
for i in range(X_test.shape[0] - (T-1)):
    X_test_LSTM.append(X_test.iloc[i:i+T].values)

In [32]:
len(X_test_LSTM)

105541

In [33]:
X_test_LSTM = np.array(X_test_LSTM)

In [34]:
X_test_LSTM.shape

(105541, 30, 19)

LSTM Model - Batch Training and Predictiction

In [35]:
import tensorflow as tf
from tensorflow import keras

In [36]:
# # Import Keras
# from keras.models import Sequential
# from keras.layers import Dense, LSTM, BatchNormalization, Dropout
# #from keras.optimizers import Adam
# from keras.callbacks import ReduceLROnPlateau, EarlyStopping
# from keras.regularizers import l2
# from time import time

AttributeError: module 'keras.utils.generic_utils' has no attribute 'populate_dict_with_module_objects'

In [ ]:
# Let's make a list of CONSTANTS for modelling:
LAYERS = [8, 8, 8, 1]                # number of units in hidden and output layers
M_TRAIN = X_train_LSTM.shape[0]           # number of training examples (2D)
M_TEST = X_test_LSTM.shape[0]             # number of test examples (2D),full=X_test.shape[0]
N = X_train_LSTM.shape[2]                 # number of features
BATCH = M_TRAIN                          # batch size
EPOCH = 200                           # number of epochs
LR = 5e-5                            # learning rate of the gradient descent
LAMBD = 3e-5                         # lambda in L2 regularizaion
DP = 0.0                             # dropout rate
RDP = 0.0                            # recurrent dropout rate
print(f'layers={LAYERS}, train_examples={M_TRAIN}, test_examples={M_TEST}')
print(f'batch = {BATCH}, timesteps = {T}, features = {N}, epochs = {EPOCH}')
print(f'lr = {LR}, lambda = {LAMBD}, dropout = {DP}, recurr_dropout = {RDP}')

In [ ]:
y_1d = y_train_LSTM.flatten()

In [ ]:
pos = np.sum(y_1d == 1)
neg = np.sum(y_1d == 0)
print(pos/neg)
total = pos + neg


initial_bias = np.log([pos/neg])
initial_bias

In [ ]:
output_bias = tf.keras.initializers.Constant(initial_bias)

In [ ]:
# Build the Model
model = Sequential()
model.add(LSTM(input_shape=(T, N), units=LAYERS[0], return_sequences=True
              #  activation='tanh', recurrent_activation='hard_sigmoid',
              #  kernel_regularizer=l2(LAMBD), recurrent_regularizer=l2(LAMBD),
              #  dropout=DP, recurrent_dropout=RDP,
              #  return_sequences=True, return_state=False,
              #  stateful=False, unroll=False
              ))
# model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(LSTM(units=LAYERS[1], return_sequences=True
              #  activation='tanh', recurrent_activation='hard_sigmoid',
              #  kernel_regularizer=l2(LAMBD), recurrent_regularizer=l2(LAMBD),
              #  dropout=DP, recurrent_dropout=RDP,
              #  return_sequences=True, return_state=False,
              #  stateful=False, unroll=False
              ))
# model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(LSTM(units=LAYERS[2],
              #  activation='tanh', recurrent_activation='hard_sigmoid',
              #  kernel_regularizer=l2(LAMBD), recurrent_regularizer=l2(LAMBD),
              #  dropout=DP, recurrent_dropout=RDP,
              #  return_sequences=False, return_state=False,
              #  stateful=False, unroll=False
              ))
# model.add(BatchNormalization())
model.add(Dropout(0.2))
# model.add(Dense(units=LAYERS[3], activation='sigmoid', bias_initializer=output_bias))

model.add(Dense(units=LAYERS[3], activation='sigmoid'))

In [ ]:
# def weighted_binary_crossentropy(pos_weight=1):
#     def _to_tensor(x, dtype):
#         """Convert the input `x` to a tensor of type `dtype`.
#         # Arguments
#             x: An object to be converted (numpy array, list, tensors).
#             dtype: The destination type.
#         # Returns
#             A tensor.
#         """
#         return tf.convert_to_tensor(x, dtype=dtype)
  
  
#     def _calculate_weighted_binary_crossentropy(target, output, from_logits=False):
#         """Calculate weighted binary crossentropy between an output tensor and a target tensor.
#         # Arguments
#             target: A tensor with the same shape as `output`.
#             output: A tensor.
#             from_logits: Whether `output` is expected to be a logits tensor.
#                 By default, we consider that `output`
#                 encodes a probability distribution.
#         # Returns
#             A tensor.
#         """
#         # Note: tf.nn.sigmoid_cross_entropy_with_logits
#         # expects logits, Keras expects probabilities.
#         if not from_logits:
#             # transform back to logits
#             _epsilon = _to_tensor(K.epsilon(), output.dtype.base_dtype)
#             output = tf.clip_by_value(output, _epsilon, 1 - _epsilon)
#             output = log(output / (1 - output))
#         target = tf.dtypes.cast(target, tf.float32)
#         return tf.nn.weighted_cross_entropy_with_logits(labels=target, logits=output, pos_weight=pos_weight)


#     def _weighted_binary_crossentropy(y_true, y_pred):
#         return K.mean(_calculate_weighted_binary_crossentropy(y_true, y_pred), axis=-1)
    
#     return _weighted_binary_crossentropy

In [ ]:



# class_weight = {0: weight_for_0, 1: weight_for_1}
# Compile the model with Adam optimizer
model.compile(loss='binary_crossentropy',
              metrics=['accuracy'],
              optimizer= 'adam')
print(model.summary())

In [ ]:
from keras import backend as K
from math import log

In [ ]:
# # Define a learning rate decay method:
lr_decay = ReduceLROnPlateau(monitor='loss', 
                             patience=1, verbose=1, 
                             factor=0.5, min_lr=1e-8)
# Define Early Stopping:
early_stop = EarlyStopping(monitor='val_loss', min_delta=0.01, 
                           patience=50, verbose=1, mode='auto',
                           baseline=0, restore_best_weights=True)

# Train the model. 
# The dataset is small for NN - let's use test_data for validation
start = time()
classifier = model.fit(X_train_LSTM, y_train_LSTM,
                    epochs=EPOCH,
                    batch_size=BATCH,
                    validation_split=0.0,
                    validation_data=(X_valid_LSTM, y_valid_LSTM),
                    shuffle=False,
                    callbacks=[lr_decay, early_stop])
print('-'*65)
print(f'Training was completed in {time() - start:.2f} secs')
print('-'*65)

In [ ]:
# Evaluate the model:
train_loss, train_acc = model.evaluate(X_train_LSTM, y_train_LSTM,
                                       batch_size=M_TRAIN, verbose=0)
# test_loss, test_acc = model.evaluate(X_test_LSTM, y_test_LSTM,
#                                      batch_size=M_TEST, verbose=0)
# print('-'*65)
print(f'train accuracy = {round(train_acc * 100, 4)}%')
# print(f'test accuracy = {round(test_acc * 100, 4)}%')
# print(f'test error = {round((1 - test_acc) * M_TEST)} out of {M_TEST} examples')

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
yhat = model.predict_classes(X_train_LSTM, batch_size = M_TRAIN, verbose = 0)

In [ ]:
yhat

In [ ]:
type(yhat)

In [ ]:
y_valid_1d = y_valid_LSTM.flatten()

In [ ]:
sum = 0
for i in range(0, len(yhat)):
  if yhat[i] == y_1d[i] and yhat[i] == 1:
    sum = sum + 1
sum

In [ ]:
sum = 0
for i in yhat:
  if i == 1:
    sum = sum + 1
sum

In [ ]:
sum = 0
for i in y_valid_1d:
  if i == 1:
    sum = sum + 1
sum

In [ ]:
print(classification_report(y_train_LSTM, yhat))

In [ ]:
x_train.head()

In [ ]:
y_train.head()

In [ ]:
y_train['transformed'] = y_train.apply(lambda x: ''.join(x.astype(str)),axis = 1)

In [ ]:
le_y = preprocessing.LabelEncoder()
y_train['encoded'] = le_y.fit_transform(y_train['transformed'])

In [ ]:
y_train.head()

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(x_train['dayofweek'])
le.classes_

In [ ]:
scale_list = ['absdif', 'dif', 'entropy', 'hurst', 'load', 'max', 'nonlinear', 'var']
scaler = preprocessing.StandardScaler().fit(x_train[scale_list])

In [ ]:
x_train.head()

In [ ]:
x_train['dayofweek'] = le.transform(x_train['dayofweek'])
x_train[scale_list] = scaler.transform(x_train[scale_list])

In [ ]:
x_train.head()

In [ ]:
x_train.describe()

In [ ]:
plt.style.use('fivethirtyeight')
x_train.plot(subplots=True,
        layout=(6, 3),
        figsize=(22,22),
        fontsize=10, 
        linewidth=2,
        sharex=False,
        title='Visualization of the original Time Series')
plt.show()

The raw data contain stochastic time series. Predicting/ making classification based on stochastic variable values may force the model to learn the 'persistence' mode (i.e. yhat(t+1) = y(t)), resulting in little predictive power. Defining the model to predict (make classification from) the difference in values between the time steps rather than value itself, is a stronger test of its predictive power.

In [ ]:
x_train = x_train.copy().pct_change(1)
x_train.head()

In [ ]:
x_train.fillna(method='bfill', inplace=True)
x_train.head()

In [ ]:
x_train.tail()

In [ ]:
X_train_final, X_valid, y_train_final, y_valid = train_test_split(x_train, y_train, test_size = 0.4, random_state = 42,shuffle=False)

In [ ]:
# I want to use a T-mins window of input data for predicting target_class
# It means I need to prepend (T-1) last train records to the 1st test window
T = 30  # my choice of the timesteps window

prepend_features = X_train_final.iloc[-(T-1):]
X_valid = pd.concat([prepend_features, X_valid], axis=0)

In [ ]:
X_valid.head()

In [ ]:
X_train_final.head()

In [ ]:
X_train_final.tail()

In [ ]:
X_valid.head()

In [ ]:
X_train_final.shape, X_valid.shape, y_train_final.shape, y_valid.shape

Input data for the Keras LSTM layer has 3 dimensions: (M, T, N), where

- M - number of examples (2D: sequences of timesteps x features),
- T - sequence length (timesteps) and
- N - number of features (input_dim)

In [ ]:
X_train_final.shape[0]

In [ ]:
# Create sequences of T timesteps
X_train_LSTM, y_train_LSTM = [], []
for i in range(y_train_final.shape[0] - (T-1)):
    X_train_LSTM.append(X_train_final.iloc[i:i+T].values)
    y_train_LSTM.append(y_train_final.iloc[i + (T-1)])
# X_train_LSTM, y_train_LSTM = np.array(X_train_LSTM), np.array(y_train_LSTM).reshape(-1,1)
# print(f'Train data dimensions: {X_train_LSTM.shape}, {y_train_LSTM.shape}')

# X_valid, y_test = [], []
# for i in range(test_labels.shape[0]):
#     X_test.append(scaled_test_features.iloc[i:i+T].values)
#     y_test.append(test_labels.iloc[i])
# X_test, y_test = np.array(X_test), np.array(y_test).reshape(-1,1)  

# print(f'Test data dimensions: {X_test.shape}, {y_test.shape}')

In [ ]:
X_train_LSTM
X_train_LSTM

In [ ]:


# Split train and validation data
train_features = x_train.loc['2012-01-02':'2016-12-31']
train_labels = df.loc['2012-01-02':'2016-12-31', 'target_class']

test_features = df_transform.loc['2017-01-02':'2018-06-19']
test_labels = df.loc['2017-01-02':'2018-06-19', 'target_class']

# I want to use a T-days window of input data for predicting target_class
# It means I need to prepend (T-1) last train records to the 1st test window
T = 45  # my choice of the timesteps window

prepend_features = train_features.iloc[-(T-1):]
test_features = pd.concat([prepend_features, test_features], axis=0)

train_features.shape, train_labels.shape, test_features.shape, test_labels.shape