In [1]:
#!pip install tensorflow
#!pip install pandas_datareader
#!pip install torch

In [2]:
# Make sure that you have all these libaries available to run the code successfully
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import urllib.request, json
import os
import numpy as np
import tensorflow as tf # This code has been tested with TensorFlow 1.6
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import torch
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
from torch import nn
from torch import optim
from torch.nn import functional as F
from torch.optim.lr_scheduler import _LRScheduler
from torch.utils.data import TensorDataset, DataLoader
import matplotlib.pyplot as plt
from multiprocessing import cpu_count
from pathlib import Path

pd.set_option('display.max_rows', 10000)

In [3]:
dataset_train = pd.read_csv('./train_data_withlabels.csv')
dataset_test = pd.read_csv('./test_data_nolabels.csv')

In [4]:
dataset_train.tail()

,Unnamed: 0,load,ac,ev,oven,wash,dryer,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
417715,523256,2.543,0,0,0,0,0,21,Tue,-0.003,0.003,0.0,0.0,0.0,0.0,0.0
417716,523257,2.417,0,0,0,0,0,21,Tue,-0.126,0.126,0.0,0.0,0.0,0.0,0.0
417717,523258,0.999,0,0,0,0,0,21,Tue,-1.418,1.418,0.0,0.0,0.0,0.0,0.0
417718,523259,0.966,0,0,0,0,0,21,Tue,-0.033,0.033,0.0,0.0,0.0,0.0,0.0
417719,523260,0.964,0,0,0,0,0,21,Tue,-0.002,0.002,0.0,0.0,0.0,0.0,0.0

In [5]:
dataset_test.head()

,Unnamed: 0,load,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
0,1,1.869,0,Mon,0.000,0.000,0.0,0.0,0.0,0.0,0.0
1,2,1.673,0,Mon,-0.196,0.196,0.0,0.0,0.0,0.0,0.0
2,3,1.660,0,Mon,-0.013,0.013,0.0,0.0,0.0,0.0,0.0
3,4,1.772,0,Mon,0.112,0.112,0.0,0.0,0.0,0.0,0.0
4,5,1.679,0,Mon,-0.093,0.093,0.0,0.0,0.0,0.0,0.0

In [6]:
dataset_total = pd.concat((dataset_train, dataset_test), axis = 0)

In [7]:
dataset_train.shape, dataset_test.shape, dataset_total.shape

((417720, 16), (105540, 11), (523260, 16))

In [8]:
dataset_total.reset_index(inplace=True, drop=True) 
dataset_total

,Unnamed: 0,load,ac,ev,oven,wash,dryer,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
0,105541,2.245,0.0,0.0,0.0,0.0,0.0,0,Sun,0.987,0.987,6.215,3.074549,0.678886,0.052903,0.994071
1,105542,2.259,0.0,0.0,0.0,0.0,0.0,0,Sun,0.014,0.014,6.215,3.172867,0.667450,0.054829,0.994154
2,105543,2.269,0.0,0.0,0.0,0.0,0.0,0,Sun,0.010,0.010,6.215,3.270112,0.647777,0.056991,0.994220
3,105544,2.268,0.0,0.0,0.0,0.0,0.0,0,Sun,-0.001,0.001,6.215,3.303763,0.629227,0.057606,0.994150
4,105545,2.270,0.0,0.0,0.0,0.0,0.0,0,Sun,0.002,0.002,6.215,3.302744,0.621295,0.082640,0.994041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523255,105536,1.076,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.001,0.001,6.204,2.484129,0.592658,0.042413,0.990185
523256,105537,1.019,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.057,0.057,6.215,2.614626,0.601761,0.038118,0.990529
523257,105538,1.014,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.005,0.005,6.215,2.729923,0.629122,0.048229,0.993554
523258,105539,1.011,NaN,NaN,NaN,NaN,NaN,23,Sat,-0.003,0.003,6.215,2.868153,0.658328,0.046729,0.993813
523259,105540,1.258,NaN,NaN,NaN,NaN,NaN,23,Sat,0.247,0.247,6.215,2.972294,0.676443,0.049666,0.993965

In [9]:
scale_list = ['absdif', 'dif', 'entropy', 'hurst', 'load', 'max', 'nonlinear', 'var']
scaler = preprocessing.StandardScaler().fit(dataset_total[scale_list])
dataset_total[scale_list] = scaler.transform(dataset_total[scale_list])

In [10]:
labelEncoderDay = preprocessing.LabelEncoder().fit(dataset_total['dayofweek'])
labelEncoderHour = preprocessing.LabelEncoder().fit(dataset_total['hourofday'])

In [11]:
dataset_total['dayofweek'] = labelEncoderDay.transform(dataset_total['dayofweek'])
dataset_total['hourofday'] = labelEncoderHour.transform(dataset_total['hourofday'])

In [12]:
dataset_total.tail()

,Unnamed: 0,load,ac,ev,oven,wash,dryer,hourofday,dayofweek,dif,absdif,max,var,entropy,nonlinear,hurst
523255,105536,-0.568705,NaN,NaN,NaN,NaN,NaN,23,2,-0.001967,-0.305789,1.128450,0.463783,-1.231697,-0.542558,0.273642
523256,105537,-0.600627,NaN,NaN,NaN,NaN,NaN,23,2,-0.112283,-0.190364,1.133623,0.538331,-1.136728,-0.544178,0.278828
523257,105538,-0.603427,NaN,NaN,NaN,NaN,NaN,23,2,-0.009846,-0.297544,1.133623,0.604194,-0.851267,-0.540364,0.324411
523258,105539,-0.605107,NaN,NaN,NaN,NaN,NaN,23,2,-0.005906,-0.301667,1.133623,0.683159,-0.546566,-0.540930,0.328325
523259,105540,-0.466781,NaN,NaN,NaN,NaN,NaN,23,2,0.486576,0.201258,1.133623,0.742650,-0.357577,-0.539822,0.330617

In [13]:
features_set = dataset_total.loc[:,dataset_total.columns.difference(['ac', 'ev', 'oven', 'wash', 'dryer'])]
features_set.drop('Unnamed: 0', axis = 1, inplace = True)
# labels_set = dataset_total[['ac', 'ev', 'oven', 'wash', 'dryer']]
labels_set = dataset_total[['ac']]

In [14]:
features_set

,absdif,dayofweek,dif,entropy,hourofday,hurst,load,max,nonlinear,var
0,1.726519,3,1.944324,-0.332090,0,0.332217,0.085962,1.133623,-0.538601,0.801063
1,-0.278994,3,0.027582,-0.451396,0,0.333461,0.093802,1.133623,-0.537874,0.857228
2,-0.287238,3,0.019703,-0.656646,0,0.334456,0.099402,1.133623,-0.537059,0.912780
3,-0.305789,3,-0.001967,-0.850176,0,0.333396,0.098842,1.133623,-0.536827,0.932003
4,-0.303728,3,0.003943,-0.932929,0,0.331751,0.099962,1.133623,-0.527384,0.931420
...,...,...,...,...,...,...,...,...,...,...
523255,-0.305789,2,-0.001967,-1.231697,23,0.273642,-0.568705,1.128450,-0.542558,0.463783
523256,-0.190364,2,-0.112283,-1.136728,23,0.278828,-0.600627,1.133623,-0.544178,0.538331
523257,-0.297544,2,-0.009846,-0.851267,23,0.324411,-0.603427,1.133623,-0.540364,0.604194
523258,-0.301667,2,-0.005906,-0.546566,23,0.328325,-0.605107,1.133623,-0.540930,0.683159
523259,0.201258,2,0.486576,-0.357577,23,0.330617,-0.466781,1.133623,-0.539822,0.742650

In [15]:
labels_set

         ac
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
523255  NaN
523256  NaN
523257  NaN
523258  NaN
523259  NaN

[523260 rows x 1 columns]

In [16]:
X_train = features_set.iloc[0:dataset_train.shape[0],]
y_train = labels_set.iloc[0:dataset_train.shape[0], ]

#X_valid = labels_set 
#y_valid = 
X_test = features_set.iloc[dataset_train.shape[0]:,]
y_test = [] 

# I want to use a T-days window of input data for predicting target_class
# It means I need to prepend (T-1) last train records to the 1st test window
T = 30  # my choice of the timesteps window

prepend_features = X_train.iloc[-(T-1):]
X_test = pd.concat([prepend_features, X_test], axis=0)

# Split the training into train and valid set
X_train_final, X_valid, y_train_final, y_valid = train_test_split(X_train, y_train, test_size = 0.2, random_state = 42,shuffle=False)

prepend_features_valid = X_train_final.iloc[-(T-1):]
X_valid = pd.concat([prepend_features_valid, X_valid], axis=0)

NameError: name 'prepend_features_valid' is not defined

In [ ]:
X_train_final.shape

In [ ]:
y_train_final.shape

In [ ]:
plt.style.use('fivethirtyeight')
X_train_final.plot(subplots=True,
        layout=(6, 3),
        figsize=(22,22),
        fontsize=10, 
        linewidth=2,
        sharex=False,
        title='Visualization of the original Time Series')
plt.show()

In [ ]:
X_train_final.shape

In [ ]:
X_train, y_train = [], []
for i in range(X_train_final.shape[0] - (T-1)):
    X_train.append(X_train_final.iloc[i:i+T].values)
    y_train.append(y_train_final.iloc[i + (T-1)].values)
# X_train, y_train = np.array(X_train), np.array(y_train).reshape(-1,1)

In [ ]:
X_train_LSTM, y_train_LSTM = [] , []
X_train_LSTM = np.array(X_train)
y_train_LSTM = np.array(y_train)

In [ ]:
X_train_LSTM.shape

In [ ]:
y_train_LSTM.shape

In [ ]:
X_valid_LSTM, y_valid_LSTM = [], []
for i in range(y_valid.shape[0]):
    X_valid_LSTM.append(X_valid.iloc[i:i+T].values)
    y_valid_LSTM.append(y_valid.iloc[i])
X_valid_LSTM, y_valid_LSTM = np.array(X_valid_LSTM), np.array(y_valid_LSTM)

In [ ]:
print(X_valid_LSTM.shape)
print(y_valid_LSTM.shape)

In [ ]:
X_test_LSTM = []
for i in range(X_test.shape[0] - (T-1)):
    X_test_LSTM.append(X_test.iloc[i:i+T].values)

In [ ]:
len(X_test_LSTM)

In [ ]:
X_test_LSTM = np.array(X_test_LSTM)

In [ ]:
X_test_LSTM.shape

LSTM Model - Batch Training and Predictiction

In [ ]:
import tensorflow as tf
from tensorflow import keras

In [ ]:
# Import Keras
from keras.models import Sequential
from keras.layers import Dense, LSTM, BatchNormalization
#from keras.optimizers import Adam
from keras.callbacks import ReduceLROnPlateau, EarlyStopping
from keras.regularizers import l2
from time import time

In [ ]:
# Let's make a list of CONSTANTS for modelling:
LAYERS = [20, 20, 20, 1]                # number of units in hidden and output layers
M_TRAIN = X_train_LSTM.shape[0]           # number of training examples (2D)
M_TEST = X_test_LSTM.shape[0]             # number of test examples (2D),full=X_test.shape[0]
N = X_train_LSTM.shape[2]                 # number of features
BATCH = M_TRAIN                          # batch size
EPOCH = 100                           # number of epochs
LR = 5e-2                            # learning rate of the gradient descent
LAMBD = 3e-2                         # lambda in L2 regularizaion
DP = 0.0                             # dropout rate
RDP = 0.0                            # recurrent dropout rate
print(f'layers={LAYERS}, train_examples={M_TRAIN}, test_examples={M_TEST}')
print(f'batch = {BATCH}, timesteps = {T}, features = {N}, epochs = {EPOCH}')
print(f'lr = {LR}, lambda = {LAMBD}, dropout = {DP}, recurr_dropout = {RDP}')

In [ ]:
# Build the Model
model = Sequential()
model.add(LSTM(input_shape=(T, N), units=LAYERS[0],
               activation='tanh', recurrent_activation='hard_sigmoid',
               kernel_regularizer=l2(LAMBD), recurrent_regularizer=l2(LAMBD),
               dropout=DP, recurrent_dropout=RDP,
               return_sequences=True, return_state=False,
               stateful=False, unroll=False
              ))
model.add(BatchNormalization())
model.add(LSTM(units=LAYERS[1],
               activation='tanh', recurrent_activation='hard_sigmoid',
               kernel_regularizer=l2(LAMBD), recurrent_regularizer=l2(LAMBD),
               dropout=DP, recurrent_dropout=RDP,
               return_sequences=True, return_state=False,
               stateful=False, unroll=False
              ))
model.add(BatchNormalization())
model.add(LSTM(units=LAYERS[2],
               activation='tanh', recurrent_activation='hard_sigmoid',
               kernel_regularizer=l2(LAMBD), recurrent_regularizer=l2(LAMBD),
               dropout=DP, recurrent_dropout=RDP,
               return_sequences=False, return_state=False,
               stateful=False, unroll=False
              ))
model.add(BatchNormalization())
model.add(Dense(units=LAYERS[3], activation='sigmoid'))

# Compile the model with Adam optimizer
model.compile(loss='binary_crossentropy',
              metrics=['accuracy'],
              optimizer= 'adam')
print(model.summary())

In [ ]:
# Define a learning rate decay method:
lr_decay = ReduceLROnPlateau(monitor='loss', 
                             patience=1, verbose=0, 
                             factor=0.5, min_lr=1e-8)
# Define Early Stopping:
early_stop = EarlyStopping(monitor='val_accuracy', min_delta=0, 
                           patience=30, verbose=1, mode='auto',
                           baseline=0, restore_best_weights=True)
# Train the model. 
# The dataset is small for NN - let's use test_data for validation
start = time()
History = model.fit(X_train_LSTM, y_train_LSTM,
                    epochs=EPOCH,
                    batch_size=BATCH,
                    validation_split=0.0,
                    validation_data=(X_valid_LSTM, y_valid_LSTM),
                    shuffle=True,verbose=0,
                    callbacks=[lr_decay, early_stop])
print('-'*65)
print(f'Training was completed in {time() - start:.2f} secs')
print('-'*65)

In [ ]:
# Evaluate the model:
train_loss, train_acc = model.evaluate(X_train_LSTM, y_train_LSTM,
                                       batch_size=M_TRAIN, verbose=0)
# test_loss, test_acc = model.evaluate(X_test_LSTM, y_test_LSTM,
#                                      batch_size=M_TEST, verbose=0)
# print('-'*65)
print(f'train accuracy = {round(train_acc * 100, 4)}%')
# print(f'test accuracy = {round(test_acc * 100, 4)}%')
# print(f'test error = {round((1 - test_acc) * M_TEST)} out of {M_TEST} examples')

In [ ]:
yhat = np.argmax(model.predict(X_test_LSTM, verbose = 0), axis=-1)

In [ ]:
x_train.head()

In [ ]:
y_train.head()

In [ ]:
y_train['transformed'] = y_train.apply(lambda x: ''.join(x.astype(str)),axis = 1)

In [ ]:
le_y = preprocessing.LabelEncoder()
y_train['encoded'] = le_y.fit_transform(y_train['transformed'])

In [ ]:
y_train.head()

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(x_train['dayofweek'])
le.classes_

In [ ]:
scale_list = ['absdif', 'dif', 'entropy', 'hurst', 'load', 'max', 'nonlinear', 'var']
scaler = preprocessing.StandardScaler().fit(x_train[scale_list])

In [ ]:
x_train.head()

In [ ]:
x_train['dayofweek'] = le.transform(x_train['dayofweek'])
x_train[scale_list] = scaler.transform(x_train[scale_list])

In [ ]:
x_train.head()

In [ ]:
x_train.describe()

In [ ]:
plt.style.use('fivethirtyeight')
x_train.plot(subplots=True,
        layout=(6, 3),
        figsize=(22,22),
        fontsize=10, 
        linewidth=2,
        sharex=False,
        title='Visualization of the original Time Series')
plt.show()

The raw data contain stochastic time series. Predicting/ making classification based on stochastic variable values may force the model to learn the 'persistence' mode (i.e. yhat(t+1) = y(t)), resulting in little predictive power. Defining the model to predict (make classification from) the difference in values between the time steps rather than value itself, is a stronger test of its predictive power.

In [ ]:
x_train = x_train.copy().pct_change(1)
x_train.head()

In [ ]:
x_train.fillna(method='bfill', inplace=True)
x_train.head()

In [ ]:
x_train.tail()

In [ ]:
X_train_final, X_valid, y_train_final, y_valid = train_test_split(x_train, y_train, test_size = 0.2, random_state = 42,shuffle=False)

In [ ]:
# I want to use a T-mins window of input data for predicting target_class
# It means I need to prepend (T-1) last train records to the 1st test window
T = 30  # my choice of the timesteps window

prepend_features = X_train_final.iloc[-(T-1):]
X_valid = pd.concat([prepend_features, X_valid], axis=0)

In [ ]:
X_valid.head()

In [ ]:
X_train_final.head()

In [ ]:
X_train_final.tail()

In [ ]:
X_valid.head()

In [ ]:
X_train_final.shape, X_valid.shape, y_train_final.shape, y_valid.shape

Input data for the Keras LSTM layer has 3 dimensions: (M, T, N), where

- M - number of examples (2D: sequences of timesteps x features),
- T - sequence length (timesteps) and
- N - number of features (input_dim)

In [ ]:
X_train_final.shape[0]

In [ ]:
# Create sequences of T timesteps
X_train_LSTM, y_train_LSTM = [], []
for i in range(y_train_final.shape[0] - (T-1)):
    X_train_LSTM.append(X_train_final.iloc[i:i+T].values)
    y_train_LSTM.append(y_train_final.iloc[i + (T-1)])
# X_train_LSTM, y_train_LSTM = np.array(X_train_LSTM), np.array(y_train_LSTM).reshape(-1,1)
# print(f'Train data dimensions: {X_train_LSTM.shape}, {y_train_LSTM.shape}')

# X_valid, y_test = [], []
# for i in range(test_labels.shape[0]):
#     X_test.append(scaled_test_features.iloc[i:i+T].values)
#     y_test.append(test_labels.iloc[i])
# X_test, y_test = np.array(X_test), np.array(y_test).reshape(-1,1)  

# print(f'Test data dimensions: {X_test.shape}, {y_test.shape}')

In [ ]:
X_train_LSTM
X_train_LSTM

In [ ]:


# Split train and validation data
train_features = x_train.loc['2012-01-02':'2016-12-31']
train_labels = df.loc['2012-01-02':'2016-12-31', 'target_class']

test_features = df_transform.loc['2017-01-02':'2018-06-19']
test_labels = df.loc['2017-01-02':'2018-06-19', 'target_class']

# I want to use a T-days window of input data for predicting target_class
# It means I need to prepend (T-1) last train records to the 1st test window
T = 45  # my choice of the timesteps window

prepend_features = train_features.iloc[-(T-1):]
test_features = pd.concat([prepend_features, test_features], axis=0)

train_features.shape, train_labels.shape, test_features.shape, test_labels.shape